*{
  margin:0;
  padding:0;
  box-sizing:border-box;

}

html, body, #root{
  height: 100%;
  
}

.App {
  text-align: center;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homeSection{

  color: #f7fafb4e; 
  font-size: 30px; 
  position:relative;
}

.top-section{
  background-color:white;

}

.homeSection img{
  width: 100%;
  height: 310px;
  object-fit: cover;
}

.menu{
  margin: 20px 0;
  padding: 10px 0;
  display: inline-block;  
  text-decoration: none;
  color:inherit;
  transition: transform 0.3s ease;
  cursor:pointer;
  color: rgb(31, 98, 127);
}

.menu:hover{
  transform: translateX(10px);
}


.back-button{
  padding: 10px;
  margin: 10px;
  background-color: rgb(85, 126, 192);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  position: fixed;
  top: 20px;
  left:50%;
  transform: translateX(-50%);
  z-index: 10;
}

.back-button:hover{
  color: rgb(34, 90, 179);
}

.about{
  display:flex;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  gap:20px; /*space btw stick notes*/
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  padding-top: 100px;
 
}

.sticky-note, .sticky-note2{
  background-color:#97e5fb;
  padding: 20px;
  margin: 20px;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
  border-radius: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.sticky-note h2, .sticky-note2 h2{
  color: rgb(31, 98, 127);
  width:100%;
  text-align: center;
}

.sticky-note p, .sticky-note2 p{
  color: rgb(31, 98, 127);
  width: 100%;
  text-align: center;
  margin-top: 10px;
}


.sticky-note{
  width: 250px;
  height: 150px;
}

.sticky-note2{
  width:40%;
  margin-left:auto;
  margin-right:auto;
  height: 300px;
 
 
}

.about-page-container{
  min-height:100vh;
  position:relative;
  padding-top:0;
  margin-top:0;
 
}

.current-date-time{
  font-size:18px;
  color:#666;
  padding:20px;
  position:fixed;
  top:0;
  right:0;
}

.top-section h2{
  color: rgb(85, 126, 192);
}

.image-container{
  display:flex;
  justify-content:space-around;
  align-items:conter;
  gap:10px;
}

.imgae-container img{
  max-width:calc(33.333%-20px);
  height:auto;
}

.bottom-section{
  background-color:#97e5fb;
}

.padding{
  padding-bottom: 25px;
  background-color:#FFFFFF
}

/*
.feature{
  position:relative;
}*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
