*{
  margin:0;
  padding:0;
  box-sizing:border-box;

}

html, body, #root{
  height: 100%;
  
}

.App {
  text-align: center;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homeSection{

  color: #f7fafb4e; 
  font-size: 30px; 
  position:relative;
}

.top-section{
  background-color:white;

}

.homeSection img{
  width: 100%;
  height: 310px;
  object-fit: cover;
}

.menu{
  margin: 20px 0;
  padding: 10px 0;
  display: inline-block;  
  text-decoration: none;
  color:inherit;
  transition: transform 0.3s ease;
  cursor:pointer;
  color: rgb(31, 98, 127);
}

.menu:hover{
  transform: translateX(10px);
}


.back-button{
  padding: 10px;
  margin:10px;
  background-color: rgb(85, 126, 192);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  position: fixed;
  top: 20px;
  left:85%;
  transform: translateX(-50%);
  z-index: 10;
}

.back-button:hover{
  color: rgb(34, 90, 179);
}


.container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  min-height:80vh;
  text-align:left;
}

.App .container{
  justify-content:flex-start;
}

.profile {
  margin-top:30px;
 
  display: flex;
  flex-direction: column;
  flex-basis: 50%; 
  max-width: 50%; 
  font-family: 'Arial', sans-serif;
  font-size: 25px;
}

.profile h1{
  margin-left:40px;
  font-size: 2em;
  margin-bottom:0.5em;
}

.profile h2{
  margin-left:40px;
  font-size: 1.5em;
  margin-top:0;
}

.paragraph{
  text-align:left;
  margin-top:180px;
  
  font-size:18px;
}

.paragraph h3{
  margin-left:40px;

}

.paragraph p{
  font-family: 'Arial', sans-serif;
  font-weight:normal;
  color:grey;
}
.paragraph h2{
  margin-left:80px;
  color: rgb(78, 76, 76);
}

.skill-container{
  display:grid;
  grid-template-columns: max-content auto;
  row-gap: 30px;
  align-items:start;
  margin-top:250px;
  margin-left:100px;
}

.skill {
  display:contents;
  font-size:18px;
}



.element{
  text-align:left;
  color:grey;
}



.bold{
  padding-right:30px;
  text-align:left;
  font-weight:bold;
  color:darkgrey;
}

.diagonal-section {
  background-color: #6e81aa; 
  clip-path: polygon(0 0, 110% 70%, 100% 100%, 0 80%);
  padding: 50px 0;
}



/*AboutMe Page -Education*/
.education-section{  
  padding: 20px;
  min-height:30vh;
  text-align:left;
  margin-left: 40px;
}

.education-section h2{
  margin-top:30px;
  font-family: 'Arial', sans-serif;
  font-size: 25px;
}

.education-section p{
  display:grid;
  grid-template-columns: max-content auto;
  align-items: center;
  text-align:left;
  margin-top:20px;

  font-size:18px;
}

.institution{
  display:inline-block;
  width:300px;
  text-align:left;
  color:rgba(9, 48, 99, 0.682)
}

.program{
  text-align:left;
  color:grey;
}

.education-section h{
  font-size:14px;
  color:rgba(9, 48, 99, 0.682)
}

/*AboutMe Page-Course*/
.course-container{
  display:flex;
  justify-content: space-between;
}

.course-section{
  width:50%;
  padding: 20px;
  min-height:30vh;
  text-align:left;
  margin-left: 40px;
  margin-top:50px;
}

.course-section h2{
  margin-bottom: 30px;
  font-family: 'Arial', sans-serif;
  font-size: 25px;
}

.course-section h3{
  margin-top:10px;
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  color:darkgrey;
}

/*AboutMe Page-Interest*/
.interest-container{
  position: relative; 
  height: 500px; 
  width: 100%; /* Full width */
  margin-top: 130px;
  margin-left: 70px;
}

.interest-container h2{
  margin-top:-50px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 25px;
}
.interest{
  border-radius: 50%;
  overflow:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute; 
  background-color: #eaeaea;
  transition: transform 0.3s ease;
}

.interest.high{
  font-size:1em;
  width:150px;
  height: 150px;
  background-color: #c8e6c9;
}

.interest.high:hover{
  transform:translateY(-12px) scale(1.2);
}

.interest.medium{
  font-size:0.85em;
  width: 120px; 
  height: 120px;
}

.interest.medium:hover{
  transform:translateY(-9px) scale(1.09);
}

.interest.low{
  font-size:0.7em;
  width: 90px; 
  height: 90px;
}

.interest.low:hover{
  transform: translateY(-7px) scale(1.06);
}

.interest span {
  padding: 10px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*AboutMe Page-timeline*/
.timeline-container{
  position: relative;
  width: 100%;
  padding: 50px 0; 
  
}

.timeline-container h2{
  text-align: left;
  margin-left:50px;
  font-family: 'Arial', sans-serif;
  font-size: 25px;
}

.timeline{
  position:absolute;
  width:100%;
  height:2px;
  background: #d3d3d3; 
  top:50%;
  margin-top: 60px;
}

.timeline-a{
  margin-top: 20px;
  min-height:10vh;
  
}

.event{
  position: absolute;
  transform: translateX(-50%); 
  top:90%;
}

.event-dot{
  position: absolute;
  top:-33px; 
  left: 50%;
  transform: translateX(-50%);
  width: 10px; 
  height: 10px; 
  background: #5170d3; 
  border-radius: 50%; /* Makes it circular */
  z-index: 2; 
}
.event-date{
  margin-bottom: 5px;
}

.event-desc{
  margin-bottom: 40px;
}

/*Project Page-todolist*/
.project-container{
  max-width:1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.project-card, .project-card2{
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  margin-top:25px;
  /*Responsive grid*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.project-card:hover{
  transform: translateY(-5px);
}

.project-image img{
  width:100%;
  height:auto;
  display:block;
}

.to-do-list h1{
  font-family: 'Arial', sans-serif;
  font-size: 35px;
}

.proejct-desc{
  padding:0;
  margin:0;
}

.project-desc h1{
  font-family: 'Arial', sans-serif;
  font-size: 25px;
}

.project-desc p{
  display:grid;
  grid-template-columns: max-content auto;
  align-items: center;
  text-align:left;
  margin-top:20px;

  font-size:18px;
}

.project-desc h3{
  margin-top:30px;
  text-align:left;
  color:grey;
}
.topic{
  display:inline-block;
  width:300px;
  text-align:left;
  color:rgba(9, 48, 99, 0.682)
}

.topic-a{
  text-align:left;
  color:grey;
}

.current-date-time{
  font-size:18px;
  color:#666;
  padding:20px;
  position:fixed;
  top:0;
  right:0;
}

.top-section h2{
  color: rgb(85, 126, 192);
}

.image-container{
  display:flex;
  justify-content:space-around;
  align-items:conter;
  gap:10px;
}

.imgae-container img{
  max-width:calc(33.333%-20px);
  height:auto;
}

.bottom-section{
  background-color:#97e5fb;
}

.padding{
  padding-bottom: 25px;
  background-color:#FFFFFF
}





/*Contact.js*/
img {
  width: 200px;
  height: auto; 

}

.contact {
  display: flex; 
  justify-content: flex-start; 
  align-items: flex-start; 
}

.contact > div {
  margin-right: 20px; 
}

.email, .phone, .github {
  display: flex; 
  align-items: center; 
}

.email img, .phone img, .github img {
  margin-right: 10px; 
}




/*Project Page-video*/
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
